/*CSS DOCUMENT */
h1, h2, h3, h4, p, ul, ol, li {margin: 0; padding:0; font-size: 1em; font-weight: normal;}

body {
	background-color: #fafafa;
	color: #333333;
	font-family: adobe-garamond-pro, serif;
	font-weight: 400;
	font-style: normal;
}

div.container {
	max-width: 25em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	font-size: 3em;
	font-family: adobe-garamond-pro, serif;
	font-weight: 700;
	font-style: normal;
	padding: 0;
}

span.din {
  color: #2e6bae;
}

span.interstate {
  color: #f68c45;
}

h2 {
	font-size: 1em; 
	font-family: adobe-garamond-pro, serif;
	font-weight: 600;
	font-style: normal;
	padding: 0.5em 0 0.2em 0;
}

h3 {
	font-size: 1.5em; 
	font-family: adobe-garamond-pro, serif;
	font-weight: 400;
	font-style: italic;
}

p {
	font-size: 1em;
	font-family: adobe-garamond-pro, serif;
	font-weight: 400;
	font-style: normal;
	padding: 0 0 1.4em 0;
}

figcaption {
	font-family: adobe-garamond-pro, serif;
	font-size: 0.9em;
	font-weight: 400;
	font-style: normal;
	padding: 0 0 1em 0;
}
