/*CSS DOCUMENT*/

img {
    width: 100%; 
}
/*
nav{
    margin-top: 2em;
}

nav ul li{
    display: inline;
    margin-right: 1em;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li a:hover{
    color:rgb(176, 21, 21);
}

div.container{
}

p.slogan{

}

p.description{
}

p.price{
}

*/
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */